{% extends 'base.html' %}

{% block content %}
        <!-- Header-->
        


        <header class="bg-white py-5" >
            <div style="display: flex; padding-left: 100px; padding-right: 100px; justify-content: space-between;">
                <div style="display: flex; align-items: left; gap: 15px;">
                <a href = "{% url 'home' %}" style = "text-decoration: none;"><h2 class = "brand-name" style = "font-family: Papyrus, fantasy; font-weight: 100; color: black;">Bookify</h2></a>
                <form method = "POST" action = "{% url 'search' %}" class="d-flex" role="search">
                     {% csrf_token %}
                    <input class="form-control me-2" type="search" placeholder="Search" style = "border-radius: 30px; width: 270px; height: 38px;" aria-label="Search" name = "searched"/>
                    <button type="submit" 
                        style=" border: none;  color: grey; background: transparent;">
                        <i class="bi bi-search" style = "font-size: 1.2rem;" ></i>
                    </button>
                </form>
                </div>
                
                <div style="display: flex; align-items: right; gap: 25px;">
                    {% if user.is_authenticated %}
                        <form class="d-flex" role="submit" action = "{% url 'login' %}">
                        <button class="btn btn-outline-success" type="submit" style = "border-radius: 30px;">LOGIN</button>
                        </form>
                    {% else %}
                        <form class="d-flex" role="submit" action = "{% url 'logout' %}">
                        <button class="btn btn-outline-secondary" type="submit" style = "border-radius: 30px; ">LOGOUT</button>
                        </form>
                {% endif %}
                </div>
            </div>
        </header>
        <style>
  button[type="submit"]:hover i {
    color: black; /* green */
    transform: scale(1.2);
  }
</style>

        <hr style="width: 80%; height: 1px; background-color: #939393; border: none; margin: -25px auto 5px auto;">
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-1 gx-lg-2 row-cols-2 row-cols-md-3 row-cols-xl-6 justify-content-left">
                    
                    {% for product in products %}
                    <div class="col mb-5">
                        <div class="card" style = "border-radius: 6px; width: 10rem; height: 24rem; border: none;">
                            <!-- Product image-->
                            <img class="card-img-top d-block mx-auto" src= "{{ product.image.url }}" alt="..." style = "height: 215px; object-fit: cover; margin-bottom: 0.06rem; margin-top: 0.1rem; ">
                            <!-- Product details-->
                            <div class="card-body text-start">
                                    <p style="color: rgb(100, 100, 100); font-size: 0.8rem; margin-bottom: 0.1rem; text-transform: uppercase;">{{product.category}}</p>
                                    <!-- Product name-->
                                    <p style="color: #f6c492; font-size: 1.1rem; margin-bottom: 0.2rem; ">{{ product.name }}</p>
                                    <!-- Product price-->
                                    
                                    <p class = "mb-0" style="color: #f6c492;">₦{{ product.price }}</p>
                                    <a href="{% url 'product' product.id %}"><button type="button" class="btn btn-outline-primary">Learn More</button></a>
                                    
                                    
                                
                            </div>
                            
                        </div>
                    </div>
                    {% endfor %}


                </div>
            </div>
        </section>
        <br/><br/><br/>
        <!-- Footer-->
{% endblock %}        
